<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CoolFishNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <CoolFishNS.Properties.Settings>
      <setting name="NoLure" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LootOnlyItems" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopOnTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopOnNoLures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopOnBagsFull" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogoutOnStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseRaft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseCharm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShutdownPConStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontLootLeft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinutesToStop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LootQuality" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SoundOnWhisper" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseRumsey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSpear" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoDebugging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LanguageIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BlackBackground" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloseWoWonStop" serializeAs="String">
        <value>False</value>
      </setting>
    </CoolFishNS.Properties.Settings>
  </userSettings>
</configuration>